<h2> Error </h2>
<p> Sorry, an error has occured. Please make sure this party has not paid yet. </p>

<p> Or, to set password, visit /set/password/*yourpassword* </p>
<h1 class="button"><a href="/parties">BACK</a></h1>