<html>
<head>
	<title>Northeast Kingdom</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="Shortcut Icon" href="http://www.north-eastkingdom.com/wp-content/themes/organic_restaurant/images/favicon.ico" type="image/x-icon">
</head>
<body>
	
	<header>
		<%= erb :"/static/navigation" %>
	</header>
	
	<main>
		<div id="yield">
			<%= yield %>
		</div<
	</main>

</body>
</html>