<html>
<head>
	<title>Northeast Kingdom</title>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
	<link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<header>
		<%= erb :"/static/navigation" %>
	</header>
	
	<main>
		<%= yield %>
	</main>

</body>
</html>