<h2> Add a Party</h2>
<form action="/parties" method="POST">

 <fieldset>
   <legend>Party Information</legend>
   <input type="text" name="party[num_of_guests]" placeholder="Number of Guests"> 
   <br>
   <input type="text" name="party[table_id]" placeholder="Table #"> 
   <br>
   <label for="has_paid">Has Paid?</label>
   <input name="party[has_paid]" type="hidden" value="false" />
   <input type="checkbox" name="party[has_paid]" id="has_paid">
 </fieldset>
 <input type="submit">
</form>